		<div id="title">
			<h1><span class="green"><a href="{homepage}">{site_name}</a></span></h1>
			<span id="slogan">A Tutorial Series from Train-ee.com</span>
		</div>
		
		<div id="menu">
			<div class="submit">
				<ul>
					<li><a class="selected" href="{homepage}"><span>Home</span></a></li>
					<li><a href="#"><span>About</span></a></li>
					<li><a href="#"><span>Products</span></a></li>
					<li><a href="#"><span>Services</span></a></li>
					<li><a href="#"><span>Weblog</span></a></li>
					<li><a href="#"><span>Contact</span></a></li>
				</ul>
			</div>
		</div>

		<div id="subheader">
			<div class="rside">
				<div class="padding">
					<div id="search">
						<form action="#" method="get">
							<p><input type="text" name="search" size="20" maxlength="250" class="text" value="" />
							<input type="submit" value="" class="btn1" /></p>
						</form>
					</div>
				</div>
			</div>
			<div class="lside">
					<div class="padding">
						<strong>Lorem ipsum</strong> dolor sit amet, consectetuer adipiscing elit. Morbi elementum, ipsum nec auctor condimentum, magna odio aliquet elit, non bibendum lorem ligula at nisi. <a href="#" title="">Proin sapien</a>.
					</div>
			</div>
		</div>