		<div id="title">
			<h1><span class="green"><a href="{homepage}">{site_name}</a></span></h1>
			<span id="slogan">A Tutorial Series from Train-ee.com</span>
		</div>
		
		<div id="menu">
			<div class="submit">
				<ul>
					<li><a class="selected" href="{homepage}"><span>Home</span></a></li>
					<li><a href="{path='about'}"><span>About</span></a></li>
					<li><a href="#"><span>Products</span></a></li>
					<li><a href="#"><span>Services</span></a></li>
					<li><a href="#"><span>Weblog</span></a></li>
					<li><a href="#"><span>Contact</span></a></li>
				</ul>
			</div>
		</div>

		<div id="subheader">
			<div class="rside">
				<div class="padding">
					<div id="search">
						<form action="#" method="get">
							<p><input type="text" name="search" size="20" maxlength="250" class="text" value="" />
							<input type="submit" value="" class="btn1" /></p>
						</form>
					</div>
				</div>
			</div>
			<div class="lside">
					<div class="padding">
						{exp:channel:entries channel="misc_content" limit="1" dynamic="no"
						disable="categories|member_data|pagination"
						url_title="{embed:the_url_title}" }
						{page_body}
						{/exp:channel:entries}
					</div>
			</div>
		</div>